.logo {
    align-self: center;
    width: 20%;
    transition: transform .3s ease-in-out;
}

.spin {
    animation: spin .3s linear forwards;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

@media screen and (min-width: 600px) {
    .logo {
        width: 30%;
    }
}