h2, h3 {
    font-family: var(--font-family-title);
    font-size: 175%;
    color: var(--color-darkgray);
    margin: 0.5rem;
}

h3 {
    font-size: 125%;
    text-align: center;
}

.weather-day-text {
    font-weight: 600;
    color: var(--color-darkgray);
    margin: 0 0 0.5rem 0;
}

p {
    color: var(--color-darkgray);
    text-align: center;
    margin: 0 0 0.5rem 0;
}