.weather-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.weather-day {
    background: var(--color-white);
    width: 40%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0.25rem 0.25rem;
}

@media screen and (min-width: 600px) {
    .weather-day {
        width: 25%;
    }
}

@media screen and (min-width: 1000px) {
    .weather-day {
        width: 25%;
        flex: 1;
    }
}